
<body>

    <h2>Compartilhar:</h2>
    <hr>
    <br>



    <label>
    <h5>Procure o usuário que deseja.</h5>
</label>

<form action="/usuarios/pesquisar/{{nome_lista}}" method="get">
      <input type="text" name="pesquisa" class="nome-produto">

    <button class="btn btn-success">Pesquisar</button>


</form>

  
<br>

<div class="container-grid">
             {{#each usuarios}}
          <form action="/usuarios/compartilhar/salvar" method="post">
                   <div class="card" style="width: 15rem; height: 5rem" id="card-produto">
        <div class="card-body">

            <h5 class="card-title">{{nome}}</h5>
            <input class="card-title" hidden name="verificadorId" value="{{_id}}" type="text">
            <input class="card-title"  name="nome_lista" value="{{../nome_lista}}" type="text">
           <button type="submit" class="btn btn-success btn-share"><i class="fa-solid fa-share"></i></button>


{{!-- TESTAR COM INPUT --}}
        </div>
    </div>

          </form>
                {{/each}}
                </div>

              

</body>

</html>