<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../landingcss/about.css">
  <link rel="stylesheet" href="../../landingcss/media.css">
  <link rel="stylesheet" href="../../landingcss/login.css">

  <title>LisToHome</title>
</head>

<body>



  <main>



    <form action="/usuarios/login" method="post">
      <h2>Entre!
      </h2>
      <div class="containerlogin">
        <img id="img-form" src="../../components/img/logo.png">
        <div class="form-input">

          <label for="email">E-mail:</label>
          <br>
          <input type="email" id="email" name="email" placeholder="Digite seu Email">
          <br>
          <label for="password">Senha:</label>
          <br>
          <input type="password" id="password" name="senha" placeholder="Digite sua Senha">
          <br>

          <br>

          <button class="btn-cadastro">Entrar</button><br><br>
          <p id="link-registrar">Não tem uma conta? <a href="/usuarios/registro">Registre-se!</a></p>
          <br>
        </div>


      </div>

    </form>

  </main>




  <script src="../../js/responsive.js"></script>

</body>

</html>