{{#each erros}}

<div class="alert alert-danger">{{texto}}</div>

{{/each}}


<h1>CIRE SUA CONTA</h1>

<div class="card">
    <div class="card-body">
        <form action="/usuarios/registro" method="post">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" class="form-control" required>
            <label for="email">E-mail:</label>
            <input type="email" name="email" class="form-control" required>
            <label for="senha">Senha:</label>
            <input type="password" name="senha" class="form-control" required>
            <label for="senha2">Confirme sua senha:</label>
            <input type="password" name="senha2" class="form-control" required>

            <button type="submit" class="btn btn-success mt-4">Registrar</button>
        </form>
    </div>
</div>