<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../../landingcss/about.css">
   <link rel="stylesheet" href="../../landingcss/media.css">
   <title>LisToHome</title>
</head>

<body>


   <main>
      <div class="container ">
         <div class="about-grid ">
            <div class="dev-picture"><img id="bia_avatar" src="./components/img/bia_avatar.png"></div>
            <div class="dev-txt ">
               <h2>Bianca Bicesto</h2>
               <p>Oi, gente! Eu sou a Bia. Minha atuação nesse projeto fica nos bastidores, toda a essência teórica do
                  nosso trabalho, como os objetivos e os métodos aplicados têm a minha participação. Desejo que possamos
                  auxiliar através dessas ferramentas nas tarefas administrativas e financeiras do cotidiano de vocês.
                  Espero que gostem!</p>
            </div>

         </div>

         <div class="about-grid-right" id="no-mobile">
            <div class="dev-txt-right">
               <h2>João Márcio Godoy </h2>

               <p>Opa, beleza? Eu sou o João, Desenvolvedor Principal por aqui, todas essas funções presentes no site
                  foram feitas por mim e pelas minhas brilhantes colegas. Dei alguns "pitacos" no design mas a minha
                  parte fica mais por trás dos panos, aquilo que quase ninguém vê, mas que é essencial para o bom
                  funcionamento do site! </p>
            </div>
            <div class="dev-picture-right "> <img id="jm_avatar" src="./components/img/jm_avatar.jpg" alt=""></div>
         </div>
         <div class="about-grid" id="yes-mobile">
            <div class="dev-picture"><img id="jm_avatar" src="./components/img/jm_avatar.jpg"></div>
            <div class="dev-txt ">
               <h2>João Márcio Godoy</h2>

               <p>Opa, beleza? Eu sou o João, Desenvolvedor Principal por aqui, todas essas funções presentes no site
                  foram feitas por mim e pelas minhas brilhantes colegas. Dei alguns "pitacos" no design mas a minha
                  parte fica mais por trás dos panos, aquilo que quase ninguém vê, mas que é essencial para o bom
                  funcionamento do site!</p>
            </div>

         </div>

         <div class="about-grid ">
            <div class="dev-picture" id="foto"><img id="gabi_avatar" src="./components/img/gabi_avatar.png"></div>
            <div class="dev-txt">
               <h2>Maria Gabriella Zan</h2>
               <p>Oiii gente! Primeiramente, muito obrigada por garantir um tempo para navegar no nosso site, onde foi
                  desenvolvido com muito carinho para facilitar a vida de vocês. Então, eu sou a designer principal, fiz
                  com que fosse um visual interessante e que chamasse a atenção, também ajudei o programador principal
                  com algumas coisinhas, além de auxiliar minhas colegas a escrever o TCC, apenas corrigindo a gramática
                  e mudando alguns termos.</p>
            </div>
         </div>

         <div class="about-grid-right" id="no-mobile">
            <div class="dev-txt-right">
               <h2>Rayssa Soares</h2>
               <p>E aí, pessoal! Sou a Ray e nesse projeto, além de auxiliar na criação do design com o estudo da
                  psicologia das cores para a harmonia do site, contribuí significativamente na realização da parte
                  teórica, evidenciando a justificativa e a finalidade pela qual esse trabalho foi desenvolvido. Espero
                  que possamos ajudar e aproveitem!</p>
            </div>
            <div class="dev-picture-right"><img id="ray_avatar" src="./components/img/ray_avatar.png" alt=""></div>
         </div>
         <div class="about-grid" id="yes-mobile">
            <div class="dev-picture"> <img src="./components/img/ray_avatar.png" id="ray_avatar" alt=""></div>
            <div class="dev-txt ">
               <h2>Rayssa Soares</h2>
               <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias consequatur distinctio quasi excepturi
                  laboriosam. Porro quis eaque ullam, voluptatem alias natus vitae libero nesciunt, sapiente, tenetur
                  cum ea soluta autem.</p>
            </div>

         </div>

         <div class="about-grid ">
            <div class="dev-picture"> <img id="vi_avatar" src="./components/img/vi_avatar.png" alt=""></div>
            <div class="dev-txt">
               <h2>Vitória Ribeiro</h2>
               <p>Oi! Tudo bem? Eu sou a Vitória, mas podem me chamar de Vih, se quiserem. Participei da criação deste
                  lindo projeto, não tive muita participação na parte operacional, como meu amigo João, mas ajudei
                  bastante nas pesquisas feitas por trás das cortinas, especificamente na criação do artigo sobre o
                  projeto. Espero que vocês curtam muito o nosso app e que ele seja uma ferramenta que ajude muito no
                  dia a dia de vcs.</p>
            </div>

         </div>









      </div>
   </main>




   <script src="../../js/responsive.js"></script>

</body>

</html>